@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@font-face {
                          font-family: "IBMPlexSans-Medium";
                          src: url('../fonts/IBMPlexSans-Medium.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-SemiBold";
                          src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
                        }
                        
.aboutpage {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(177, 176, 176, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.aboutpage .bghome {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 112px;
  height              : 912px;
  width               : 720px;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .bghome .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 912px;
  width               : 720px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .bghome .dc6il5r8502ed530afc4e2a8f26438e0173c6bb {
  background-color    : rgba(255,255,255,0.0);
  top                 : -12px;
  height              : 1512px;
  width               : 2688px;
  position            : absolute;
  margin              : 0;
  left                : -974px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .lefpage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : 912px;
  width               : 720px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .lefpage .dcdt7353f611a8e1c0d4f2fa1e887ccdfd762ed {
  background-color    : rgba(249, 249, 249, 1.0);
  top                 : 0px;
  height              : 912px;
  width               : 720px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .lefpage .dcdt7353f611a8e1c0d4f2fa1e887ccdfd762ed .mask {
  background-color    : rgba(249, 249, 249, 1.0);
  top                 : 0px;
  height              : 912px;
  width               : 720px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .lefpage .dcdt7353f611a8e1c0d4f2fa1e887ccdfd762ed .dcdt7353f611a8e1c0d4f2fa1e887ccdfd762ed1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1473px;
  width               : 2619px;
  position            : absolute;
  margin              : 0;
  left                : -233px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : -95px;
  height              : 301px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .header .headerbuts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 301px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .header .headerbuts .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 95px;
  height              : 112px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .header .headerbuts .findhome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 132px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : center;
  letter-spacing      : 1.08px;
  line-height         : 37.0px;
}
.aboutpage .header .headerbuts .community {
  background-color    : rgba(255,255,255,0.0);
  top                 : 132px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 383px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : center;
  letter-spacing      : 1.08px;
  line-height         : 37.0px;
}
.aboutpage .header .headerbuts .blog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 132px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 591px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : center;
  letter-spacing      : 1.08px;
  line-height         : 37.0px;
}
.aboutpage .header .headerbuts .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 132px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 703px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : center;
  letter-spacing      : 1.08px;
  line-height         : 37.0px;
}
.aboutpage .header .headerbuts .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 132px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1119px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : center;
  letter-spacing      : 1.08px;
  line-height         : 37.0px;
}
.aboutpage .header .headerbuts .whitesimplehomefurnishinglogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 301px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .header .registerbutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : 50px;
  width               : 159px;
  position            : absolute;
  margin              : 0;
  left                : 1244px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .header .registerbutton1 .rectangle {
  background-color    : rgba(255, 91, 92, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 159px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .header .registerbutton1 .register {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.08px;
  line-height         : 37.0px;
}
.aboutpage .bginfo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 834px;
  height              : 157px;
  width               : 1323px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .bginfo .bginfo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 157px;
  width               : 1323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .bginfo .bginfo1 .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 157px;
  width               : 1323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .bginfo .bginfo1 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 157px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .bginfo .bginfo1 .a99504 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 87px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .bginfo .loremipsumdolorsi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : auto;
  width               : 1140px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : left;
  letter-spacing      : 0.62px;
  line-height         : 22.0px;
}
.aboutpage .bginfo .weloveyou {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : center;
  letter-spacing      : 1.31px;
  line-height         : 46.0px;
}
.aboutpage .line6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 5px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 702px;
  -ms-transform       : rotate(-1.24536430836deg); /* IE 9 */
  -webkit-transform   : rotate(-1.24536430836deg); /* Chrome, Safari, Opera */
  transform           : rotate(-1.24536430836deg);
}
.aboutpage .registerbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 495px;
  width               : 796px;
  position            : absolute;
  margin              : 0;
  left                : 323px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.91;
}
.aboutpage .registerbutton .rectangle {
  background-color    : rgba(255, 189, 74, 1.0);
  top                 : 0px;
  height              : 495px;
  width               : 796px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .headertext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 266px;
  height              : 360px;
  width               : 710px;
  position            : absolute;
  margin              : 0;
  left                : 371px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .headertext .whoweare {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-SemiBold", Helvetica, Arial, serif;
  font-size           : 38.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.46px;
  line-height         : 52.0px;
}
.aboutpage .headertext .loremipsumdolorsi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 52px;
  height              : auto;
  width               : 711px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.62px;
  line-height         : 22.0px;
}
.aboutpage .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 643px;
  height              : 67px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 371px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .registerlogin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 660px;
  height              : 41px;
  width               : 458px;
  position            : absolute;
  margin              : 0;
  left                : 454px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.aboutpage .registerlogin .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 2px;
  width               : 458px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.34;
}
.aboutpage .registerlogin .armang366kdemirco {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.92px;
  line-height         : 32.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}